$colors: (
    "background": #fff9f5,
    "font-color": rgba(0, 0, 0, 0.87),
    "quote-color": #8f8f8f,
    "button-color": #7c7c7c,
    "in-button-color": #e1b97c,
    "white": #ffffff,
);

$font-weights: (
    "regular": 400,
    "medium": 500,
    "between": 600,
    "bold": 700,
);

$font-size: (
    "small": 10px,
    "medium": 16px,
    "button": 21px,
    "large": 24px,
);

$button-color: #e1b97c;
$slider-color: #c6ad89;
$slider-ball: #ffe0cf;
